:root {
--color-primary-black: #161412;
--color-black-light: #2F2D2E;
--color-primary-white: #ffffff;
--color-primary-grey: #ddd9d6;
}

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  //Margin-top iste velicine kao velicina header-a
  margin-top: 15rem;
}
