body {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
}

.brand-logo img {
    position: relative;
    top: 10px;
}

#landing{
    height: 100vh;
    background-image: url('img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 20vh;
}
